
    
    <div id="cardChat" class="fillHeight">
        <div id="nav">
            <div id="navTittle"><img class="icon" src="/images/icons/friends.png" alt="">Friends</div>
            <!--<button id="button-online" class="navButton">Online</button>-->
            <button id="button-all" class="navButton">All</button>
            <button id="button-pedding" class="navButton">Pending</button>
            <button id="button-addfriend" class="navButton add-friend">Add friend</button>
        </div>
        <hr>
        <div id="communicate">
            <div id="content-all" class="content">
                <div class="tittleContent">
                    <p>ALL FRIENDS -   </p><p id="qntFriends"></p>
                </div>
                <div id="content-all-items" class="content-items"></div>
            </div>
            <div id="content-pedding" class="content">
                <div class="tittleContent">
                    <p>PEDDING -   </p><p id="qntPedding"></p>
                </div>
                <div id="content-pedding-items" class="content-items"></div>
            </div>
            <div id="content-addfriend" class="content">
                    <h2>ADD FRIEND</h2>
                    <p>You can add friends with their username</p>
                    <form id="input-addfriend">
                        <input id="inputtext-addfriend" type="text" placeholder="You can add friends with their username">
                        <button id="submit-addfriend">Send friend request</button>
                    </form>
                    
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="/js/files.js"></script>
<script src="/js/isLogged.js"></script>
<script>
    $('#btnFriends').removeClass('contactsButton').addClass('contactsButtonselect');
    const socket = io(server, {extraHeaders: {"Authorization": getCookie("token")}});
    //Socket
    socket.emit('add user', getCookie("token"));
    loadAllFriends();
    loadPedding();
    loadDirects();
    socket.on('online friends', function(friends) {
        for(var i =0; i<friends.length; i++){
            $('#userStatus-'+friends[i].id).text("Online");
            $('#status-'+friends[i].id).addClass("online");
        }
    });
    socket.on('friend connected', function(friend) {
        $('#userStatus-'+friend).text("Online");
        $('#status-'+friend).addClass("online");
    });
    socket.on('friend disconnected', function(friend) {
        $('#userStatus-'+friend).text("Offline");
        $('#status-'+friend).removeClass("online");
    });
    socket.on('invitation made', function(invite) {
       loadPedding();
    });
    socket.on('invitation accept', function(invite) {
        loadAllFriends().then(()=>{
            socket.emit('online friends');
        });
       
    });
   
    socket.on('notification', (id)=>{
        if(!$('#status-'+id).hasClass('notified')){
            $('#status-'+id).addClass('notified')
        }
        var notifics = 0;
        if($('#status-'+id).text() != ""){
            notifics = $('#status-'+id).text();    
        }
        $('#status-'+id).text(parseInt(notifics)+1);

    })
    

    //Add Friend
    $('#input-addfriend').on('submit', (e)=>{
        e.preventDefault();
        $.ajax({
            method: "POST",
            url: server+"/friendship/inviteCreate",
            headers: {
                "Authorization": getCookie("token")
            },
            data:{
                nameGuest: $('#inputtext-addfriend').val()
            }
        }).then((result)=>{
            $('#inputtext-addfriend').val('');
            alert(result.message);
            if(result.success == true){
                socket.emit('invitation made', result.id);
            }
            
        }).catch((err)=>{
            $('#inputtext-addfriend').val('');
            alert(err.responseJSON.message);
        });
    });
</script>
<script>
    $('#button-all').addClass('selected');
    $('#content-all').css('display', 'block');


    $('#button-all').on("click", ()=>{
        removeButtonContentSelected();
        $('#button-all').addClass('selected');
        $('#content-all').css('display', 'block');
    });
    $('#button-addfriend').on("click", ()=>{
        removeButtonContentSelected();
        $('#button-addfriend').addClass('selected');
        $('#content-addfriend').css('display', 'flex');
    });
    $('#button-pedding').on("click", ()=>{
        removeButtonContentSelected();
        $('#button-pedding').addClass('selected');
        $('#content-pedding').css('display', 'block');
    });

    function removeButtonContentSelected(){
        $('.content').css('display', 'none');
        $('.navButton').removeClass('selected');
    }

    $('#inputtext-addfriend').on('input propertychange', ()=>{
        if($('#inputtext-addfriend').val().length > 0){
            $('#submit-addfriend').css('opacity', '1');
        }else{
            $('#submit-addfriend').css('opacity', '0.5');
        }
        
    });

    function acceptInvite(id){
        $.ajax({
            method: "POST",
            url: server+"/friendship/inviteAccept",
            headers: {
                "Authorization": getCookie("token")
            },
            data:{
                idFriendship: id
            }
        }).then((result)=>{
            loadPedding();
            socket.emit('invitation accept', id);
            loadAllFriends().then(()=>{
                socket.emit('online friends');
            });
            alert(result.message);
        }).catch((err)=>{
            alert(err.responseJSON.message);
        });
    }
    function denyInvite(id){
        $.ajax({
            method: "POST",
            url: server+"/friendship/inviteDeny",
            headers: {
                "Authorization": getCookie("token")
            },
            data:{
                idFriendship: id
            }
        }).then((result)=>{
            loadAllFriends();
            loadPedding();
            alert(result.message);
        }).catch((err)=>{
            alert(err.responseJSON.message);
        });
    }
</script>